
.head {
  width : 100%;
  height : 50px;
  background-color : green;
}
.body {
  width : 60%;
  float : right;
  height :900px;
  background-color : #13bd19;
  margin: 10px;
  margin-right: 20px;
  border-radius: 25px;
}
.footer {
  width : 100%;
  height : 100px;
  background-color : green;
  float : bottom;
}
.lupa {
  width : 30px;
  height : 30px;
  margin : 10px;
}
.vvod {
  margin-top : 0.65%;
  margin-bottom : 0.65%;
  height : 25px;
  border-radius : 14px;
  width: 200px;
}
.messages {
  float: left;
  height: 900px;
  margin: 10px;
  margin-left:20px;
  background-color: white;
  width: 35%;
  border-radius: 25px;
}
.search {
  width: 40%;
  height : 3%;
  border-radius : 14px;
  text-align: center;
  margin: 1%;
  margin-left: 29.5%;
  margin-right: 29.5%;
}
.avatar {
  width: 10%;
  height: 20%;
  text-align: center;
  border-radius: 25px;
  margin-left: 200px;
  margin: 5px;
}
.search2 {
  width: 40%;
  height : 3%;
  border-radius : 14px;
  text-align: center;
  margin: 0.7%;
  margin-left: 29.5%;
  margin-right: 29.5%;
}